.head {
    width: 100%;
    height: 8vh;
    background: linear-gradient(to left bottom, #246EFC, #5FD8FE, #A6EAFF);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    position: fixed;
    top: 0;
    left: 0;

    .link {
        display: block;
        padding-right: .5rem;
    }
}